extends layout



block content
  h1 #{title}
  div(style=""+mainDisplay)
  div(style=""+display)
    input(type="text" placeholder="name" id="name")
    button(type="submit" class="btn") Click!

  script(src='./javascripts/main.js')
